    <div class="grid__item one-quarter portable-one-third palm-one-whole">
        <div class="sponsor">
            <div class="ribbon ribbon--silver">Lanyard</div>
            <a href="/sponsors#servergrove"><img src="/images/sponsors/servergrove.png" alt="Server Grove"></a>
        </div>
    </div><!--

 --><div class="grid__item one-quarter portable-one-third palm-one-whole">
        <div class="sponsor">
            <div class="ribbon ribbon--bronze">Bronze</div>
            <a href="/sponsors#duosecurity"><img src="/images/sponsors/duosecurity.png" alt="Duo Security"></a>
        </div>
    </div>