    <div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <div class="ribbon ribbon--platinum">Platinum</div>
            <a href="https://www.getpantheon.com/" target="_blank"><img src="/images/sponsors/pantheon.png" alt="Pantheon"></a>
        </div>
    </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <div class="ribbon ribbon--platinum">Platinum</div>
            <a href="http://sparefoot.com" target="_blank"><img src="/images/sponsors/sparefoot.png" alt="Spare Foot"></a>
        </div>
    </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <div class="ribbon ribbon--platinum">Platinum</div>
            <a href="http://www.softlayer.com" target="_blank"><img src="/images/sponsors/softlayer.png" alt="Soft Layer"></a>
        </div>
    </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <div class="ribbon ribbon--platinum">Platinum</div>
            <a href="http://www.phpdevhired.com" target="_blank"><img src="/images/sponsors/phpdevhired.png" alt="PhpDevHired"></a>
        </div>
    </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <div class="ribbon ribbon--gold">Gold</div>
            <a href="http://developer.rackspace.com" target="_blank"><img src="/images/sponsors/rackspace.png" alt="Rackspace"></a>
        </div>
    </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <div class="ribbon ribbon--gold">Gold</div>
            <a href="http://engineyard.com" target="_blank"><img src="/images/sponsors/engineyard.png" alt="Engine Yard"></a>
        </div>
    </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <div class="ribbon ribbon--gold">Gold</div>
            <a href="http://github.com" target="_blank"><img src="/images/sponsors/github.png" alt="GitHub"></a>
        </div>
    </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <div class="ribbon ribbon--silver">Silver</div>
            <a href="http://www.ordermygear.com" target="_blank"><img src="/images/sponsors/ordermygear.png" alt="Order My Gear"></a>
        </div>
    </div><!--

--><div class="grid__item one-quarter lap-one-half palm-one-whole">
       <div class="sponsor">
           <div class="ribbon ribbon--silver">Silver</div>
           <a href="http://www.foxycart.com/" target="_blank"><img src="/images/sponsors/foxycart.png" alt="Foxycart"></a>
       </div>
   </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <div class="ribbon ribbon--silver">Silver</div>
            <a href="http://www.bitcloudsolutions.com" target="_blank"><img src="/images/sponsors/bitcloud.png" alt="Bit Cloud Solutions"></a>
        </div>
    </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <div class="ribbon ribbon--silver">Silver</div>
            <a href="http://www.oracle.com" target="_blank"><img src="/images/sponsors/oracle.png" alt="Oracle"></a>
        </div>
    </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <div class="ribbon ribbon--silver">Silver</div>
            <a href="http://mandrill.com/" target="_blank"><img src="/images/sponsors/mandrill.png" alt="Mandrill"></a>
        </div>
    </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <div class="ribbon ribbon--silver">Lanyard</div>
            <a href="http://servergrove.com" target="_blank"><img src="/images/sponsors/servergrove.png" alt="Server Grove"></a>
        </div>
    </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <div class="ribbon ribbon--bronze">Bronze</div>
            <a href="http://duosecurity.com" target="_blank"><img src="/images/sponsors/duosecurity.png" alt="Duo Security"></a>
        </div>
    </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <div class="ribbon ribbon--bronze">Bronze</div>
            <a href="http://www.stickermule.com" target="_blank"><img src="/images/sponsors/stickermule.png" alt="Sticker Mule"></a>
        </div>
    </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <div class="ribbon ribbon--bronze">Bronze</div>
            <a href="http://www.appdynamics.com" target="_blank"><img src="/images/sponsors/appdynamics.png" alt="App Dynamics"></a>
        </div>
    </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <div class="ribbon ribbon--bronze">Bronze</div>
            <a href="http://aws.amazon.com" target="_blank"><img src="/images/sponsors/amazon.png" alt="Amazon Web Services"></a>
        </div>
    </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <div class="ribbon ribbon--bronze">Bronze</div>
            <a href="http://developer.constantcontact.com" target="_blank"><img src="/images/sponsors/constantcontact.png" alt="Constant Contact"></a>
        </div>
    </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <a href="http://www.meetup.com/dallasphp" target="_blank"><img src="/images/sponsors/dallasphp.png" alt="Dallas PHP"></a>
        </div>
    </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <a href="http://www.phparch.com/" target="_blank"><img src="/images/sponsors/phparch.png" alt="php[architect]"></a>
        </div>
    </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <a href="http://nomadphp.com/" target="_blank"><img src="/images/sponsors/nomadphp.png" alt="Nomad PHP"></a>
        </div>
    </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <a href="http://www.meetup.com/austinphp/" target="_blank"><img src="/images/sponsors/austinphp.jpg" alt="Austin PHP"></a>
        </div>
    </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <a href="http://atlantaphp.com" target="_blank"><img src="/images/sponsors/atlantaphp.png" alt="Atlanta PHP"></a>
        </div>
    </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <a href="http://www.newrepublicbrewing.com/" target="_blank"><img src="/images/sponsors/newrepublic.png" alt="New Republic Brewing"></a>
        </div>
    </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <a href="http://phpwomen.org/" target="_blank"><img src="/images/sponsors/phpwomen.png" alt="PHP Women"></a>
        </div>
    </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <a href="http://roave.com/" target="_blank"><img src="/images/sponsors/roave.png" alt="Roave"></a>
        </div>
    </div>