    <div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <div class="ribbon ribbon--platinum">Platinum</div>
            <a href="https://www.getpantheon.com/" target="_blank"><img src="/images/sponsors/pantheon.png" alt="Pantheon"></a>
        </div>
    </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <div class="ribbon ribbon--gold">Gold</div>
            <a href="http://developer.rackspace.com" target="_blank"><img src="/images/sponsors/rackspace.png" alt="Rackspace"></a>
        </div>
    </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <div class="ribbon ribbon--gold">Gold</div>
            <a href="http://engineyard.com" target="_blank"><img src="/images/sponsors/engineyard.png" alt="Engine Yard"></a>
        </div>
    </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <div class="ribbon ribbon--silver">Silver</div>
            <a href="http://www.ordermygear.com" target="_blank"><img src="/images/sponsors/ordermygear.png" alt="Order My Gear"></a>
        </div>
    </div><!--

--><div class="grid__item one-quarter lap-one-half palm-one-whole">
       <div class="sponsor">
           <div class="ribbon ribbon--silver">Silver</div>
           <a href="http://www.foxycart.com/" target="_blank"><img src="/images/sponsors/foxycart.png" alt="Foxycart"></a>
       </div>
   </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <div class="ribbon ribbon--silver">Silver</div>
            <a href="http://www.bitcloudsolutions.com" target="_blank"><img src="/images/sponsors/bitcloud.png" alt="Bit Cloud Solutions"></a>
        </div>
    </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <div class="ribbon ribbon--silver">Silver</div>
            <a href="http://www.oracle.com" target="_blank"><img src="/images/sponsors/oracle.png" alt="Oracle"></a>
        </div>
    </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <div class="ribbon ribbon--silver">Lanyard</div>
            <a href="http://servergrove.com" target="_blank"><img src="/images/sponsors/servergrove.png" alt="Server Grove"></a>
        </div>
    </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <div class="ribbon ribbon--bronze">Bronze</div>
            <a href="http://duosecurity.com" target="_blank"><img src="/images/sponsors/duosecurity.png" alt="Duo Security"></a>
        </div>
    </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <div class="ribbon ribbon--bronze">Bronze</div>
            <a href="http://www.stickermule.com" target="_blank"><img src="/images/sponsors/stickermule.png" alt="Sticker Mule"></a>
        </div>
    </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <a href="http://www.phparch.com/" target="_blank"><img src="/images/sponsors/phparch.png" alt="php[architect]"></a>
        </div>
    </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <a href="http://nomadphp.com/" target="_blank"><img src="/images/sponsors/nomadphp.png" alt="Nomad PHP"></a>
        </div>
    </div><!--

 --><div class="grid__item one-quarter lap-one-half palm-one-whole">
        <div class="sponsor">
            <a href="http://www.meetup.com/austinphp/" target="_blank"><img src="/images/sponsors/austinphp.jpg" alt="Austin PHP"></a>
        </div>
    </div>