{% extends 'layout.html.twig' %}

{% block title %}Code Of Conduct | {{ parent() }}{% endblock %}

{% block header %}
    <header class="l-header" style="min-height:0">
        <!-- <div class="container">
            <img src="images/lonestarphp-logo.png">
            <h1 class="h-header">Join us <span class="h-header-highlight">April 25th - 26th, 2014</span> for this two day event and hear the best speakers the <span class="h-header-highlight">PHP Community</span> has to offer.</h1>
            <a href="http://cfp.lonestarphp.com" class="btn btn-primary btn-large"><i class="fa fa-file-text-o"></i> Call For Papers Now Open</a>
        </div> -->
    </header>
{% endblock %}

{% block body %}
    <p>Place controversy inducing innocuous leaglease here</p>
{% endblock %}