{% extends 'layout.html.twig' %}

{% block title %}Contact Us | {{ parent() }}{% endblock %}

{% block header %}{% endblock %}

{% block body %}
    <section class="l-section">
        <div class="container">
            <h2 class="h-section">Contact Us</h2>

        </div>
    </section>
{% endblock %}