{% extends 'layout.html.twig' %}

{% block title %}Sponsors | {{ parent() }}{% endblock %}

{% block header %}{% endblock %}

{% block body %}
    <section class="l-section l-sponsors">
        <div class="container grid">
            <h2 class="h-section">Sponsors</h2>
            <div class="grid__item one-quarter palm-one-whole" id="servergrove">
                <div class="sponsor">
                    <div class="ribbon ribbon--silver">Lanyard</div>
                    <a href="http://servergrove.com" target="_blank" rel="external"><img src="/images/sponsors/servergrove.png" alt="Server Grove"></a>
                </div>
            </div><!--

         --><div class="grid__item three-quarters palm-one-whole">
                <p></p>
            </div><!--

         --><div class="grid__item one-whole divider">

            </div><!--

         --><div class="grid__item one-quarter palm-one-whole" id="duosecurity">
                <div class="sponsor">
                    <div class="ribbon ribbon--bronze">Bronze</div>
                    <a href="https://www.duosecurity.com/" target="_blank" rel="external"><img src="/images/sponsors/duosecurity.png" alt="Duo Security"></a>
                </div>
            </div><!--

         --><div class="grid__item three-quarters palm-one-whole">
                <p>Duo Security's hosted two-factor authentication service brings strong, scalable security to organizations of any size. Duo's unique, high-availability architecture provides centralized management, self-service enrollment, and interactive secondary login through an intuitive web interface, eliminating the high costs, complexity, and confusion associated with traditional two-factor systems.</p>
            </div>
        </div>
    </section>
{% endblock %}

{% block sponsors %}{% endblock %}