{% extends 'layout.html.twig' %}

{% block title %}Sponsors | {{ parent() }}{% endblock %}

{% block header %}{% endblock %}

{% block body %}
    <section class="l-section l-sponsors">
        <div class="container grid">
            <h2 class="h-section">Sponsors</h2>
            <div class="grid__item one-quarter palm-one-whole" id="pantheon">
                <div class="sponsor">
                    <div class="ribbon ribbon--platinum">Platinum</div>
                    <a href="https://www.getpantheon.com/" target="_blank" rel="external"><img src="/images/sponsors/pantheon.png" alt="Pantheon"></a>
                </div>
            </div><!--

        --><div class="grid__item three-quarters palm-one-whole">
                <p>Pantheon lets you effortlessly develop and run Drupal sites that are fast, stable and secure. Ready for a flood of traffic? Your site will be. Our software deploys more resources instantly, right when you need them. Leave physical servers behind. Don’t waste another hour on manual updates like setting up VMs, installing packages, or debugging scripts. Pantheon gives you built-in developer tools like GIT version control &amp; more. Manage all your sites and team access from a single place. It only takes seconds to invite someone new. With decades of combined Drupal expertise, the team that built Pantheon is the same team that supports it. It’s like having your own dream Drupal sys admin.</p>
            </div><!--

         --><div class="grid__item one-whole divider">

            </div><!--

         --><div class="grid__item one-quarter palm-one-whole" id="rackspace">
                <div class="sponsor">
                    <div class="ribbon ribbon--gold">Gold</div>
                    <a href="http://developer.rackspace.com" target="_blank" rel="external"><img src="/images/sponsors/rackspace.png" alt="Rackspace"></a>
                </div>
            </div><!--

        --><div class="grid__item three-quarters palm-one-whole">
                <p>Rackspace Hosting (NYSE: RAX) is the open cloud company, delivering open technologies and powering more than 197,000 customers worldwide. Rackspace provides its renowned Fanatical Support&reg; across a broad portfolio of IT products, including Public Cloud, Private Cloud, Hybrid Hosting and Dedicated Hosting. The company offers choice, flexibility and freedom from vendor lock-in. Rackspace has been recognized by Bloomberg BusinessWeek as a Top 100 Performing Technology Company and is featured on Fortune’s list of 100 Best Companies to Work For. Rackspace was positioned in the Leaders Quadrant by Gartner Inc. in the "2011 Magic Quadrant for Managed Hosting." Rackspace is headquartered in San Antonio with offices and data centers around the world. For more information for developers, visit <a href="http://developer.rackspace.com" target="_blank" rel="external">http://developer.rackspace.com</a>.</p>
            </div><!--

         --><div class="grid__item one-whole divider">

            </div><!--

         --><div class="grid__item one-quarter palm-one-whole" id="engineyard">
                <div class="sponsor">
                    <div class="ribbon ribbon--gold">Gold</div>
                    <a href="http://engineyard.com" target="_blank" rel="external"><img src="/images/sponsors/engineyard.png" alt="Engine Yard"></a>
                </div>
            </div><!--

        --><div class="grid__item three-quarters palm-one-whole">
                <p>Engine Yard is the leading cloud application management platform empowering developers and DevOps to provision, manage, monitor and control applications in the public and cloud.</p>
            </div><!--

         --><div class="grid__item one-whole divider">

            </div><!--

         --><div class="grid__item one-quarter palm-one-whole" id="ordermygear">
                <div class="sponsor">
                    <div class="ribbon ribbon--silver">Silver</div>
                    <a href="http://www.ordermygear.com/" target="_blank" rel="external"><img src="/images/sponsors/ordermygear.png" alt="Order My Gear"></a>
                </div>
            </div><!--

        --><div class="grid__item three-quarters palm-one-whole">
                <p>OrderMyGear is a platform for managing group purchases of team sporting goods and decorated team apparel. OrderMyGear provides a co-branded e-commerce platform for distributors to make ordering and fulfillment of sports team apparel and equipment faster, easier and less expensive. It makes ordering as painless as possible by connecting reps, dealers and schools across the United States and Canada with real-time pricing, inventory, and detailed reporting.</p>
            </div><!--

         --><div class="grid__item one-whole divider">

            </div><!--


         --><div class="grid__item one-quarter palm-one-whole" id="foxycart">
                <div class="sponsor">
                    <div class="ribbon ribbon--silver">Silver</div>
                    <a href="http://www.foxycart.com/" target="_blank" rel="external"><img src="/images/sponsors/foxycart.png" alt="Foxycart"></a>
                </div>
            </div><!--

        --><div class="grid__item three-quarters palm-one-whole">
                <p>FoxyCart is a better checkout experience. We empower developers to create flexible, powerful, custom ecommerce in less time, while equipping merchants with the fastest checkout flow available to their customers.</p>

                <p>Our system is not turnkey or "all in one", but rather is built for web professionals who already have their own best-of-breed systems. FoxyCart can serve as a foundation for advanced custom e-commerce deployments, or for quick and easy single-product online stores.</p>
            </div><!--

         --><div class="grid__item one-whole divider">

            </div><!--

         --><div class="grid__item one-quarter palm-one-whole" id="bitcloud">
                <div class="sponsor">
                    <div class="ribbon ribbon--silver">Silver</div>
                    <a href="http://www.bitcloudsolutions.com/" target="_blank" rel="external"><img src="/images/sponsors/bitcloud.png" alt="Bit Cloud Solutions"></a>
                </div>
            </div><!--

        --><div class="grid__item three-quarters palm-one-whole">
                <p>Bit Cloud Solutions is a leading provider of very low cost virtual private servers (VPS). With our services people can setup websites, web applications, game servers, backup storage or fulfill any number of VPS related needs.</p>

                <p>We believe fair value to customers is the best means to growing any business, either providing or consuming, because fairness is universally understood. This is how we've managed to provide one of the best hardware per price in the industry; our prices are consistently 80% to 90% cheaper than VPS industry average. We look for the best deals and best ways to cut costs, and we pass the savings onto you while maintaining reasonable good customer support.</p>

                <p>Come join the revolution at Bit Cloud Solutions: <a href="http://www.bitcloudsolutions.com" rel="external" target="_blank">http://www.bitcloudsolutions.com</a></p>
            </div><!--

         --><div class="grid__item one-whole divider">

            </div><!--

         --><div class="grid__item one-quarter palm-one-whole" id="oracle">
                <div class="sponsor">
                    <div class="ribbon ribbon--silver">Silver</div>
                    <a href="http://www.oracle.com/" target="_blank" rel="external"><img src="/images/sponsors/oracle.png" alt="Oracle"></a>
                </div>
            </div><!--

        --><div class="grid__item three-quarters palm-one-whole">
                <p>MySQL is the world's most popular open source database. Whether you are a fast growing web property, technology ISV or large enterprise, MySQL can cost-effectively help you deliver high performance, scalable database applications.</p>
            </div><!--

         --><div class="grid__item one-whole divider">

            </div><!--

         --><div class="grid__item one-quarter palm-one-whole" id="servergrove">
                <div class="sponsor">
                    <div class="ribbon ribbon--silver">Lanyard</div>
                    <a href="http://servergrove.com" target="_blank" rel="external"><img src="/images/sponsors/servergrove.png" alt="Server Grove"></a>
                </div>
            </div><!--

         --><div class="grid__item three-quarters palm-one-whole">
                <p>ServerGrove is a hosting company specialized in providing premium hosting environment for PHP applications. Our award winning control panel allows our clients to save time and easily perform server management tasks and configurations through an intuitive interface. Our VPS images come configured ready to launch your PHP applications. Get your VPS ready to roll in less than 3 minutes. Find out more at <a href="http://www.servergrove.com" target="_blank" rel="external">http://www.servergrove.com</a>
            </div><!--

         --><div class="grid__item one-whole divider">

            </div><!--

         --><div class="grid__item one-quarter palm-one-whole" id="duosecurity">
                <div class="sponsor">
                    <div class="ribbon ribbon--bronze">Bronze</div>
                    <a href="https://www.duosecurity.com/" target="_blank" rel="external"><img src="/images/sponsors/duosecurity.png" alt="Duo Security"></a>
                </div>
            </div><!--

         --><div class="grid__item three-quarters palm-one-whole">
                <p>Duo Security's hosted two-factor authentication service brings strong, scalable security to organizations of any size. Duo's unique, high-availability architecture provides centralized management, self-service enrollment, and interactive secondary login through an intuitive web interface, eliminating the high costs, complexity, and confusion associated with traditional two-factor systems.</p>
            </div><!--

         --><div class="grid__item one-whole divider">

            </div><!--

         --><div class="grid__item one-quarter palm-one-whole" id="stickermule">
                <div class="sponsor">
                    <div class="ribbon ribbon--bronze">Bronze</div>
                    <a href="https://www.stickermule.com/" target="_blank" rel="external"><img src="/images/sponsors/stickermule.png" alt="Sticker Mule"></a>
                </div>
            </div><!--

         --><div class="grid__item three-quarters palm-one-whole">
                <p>Sticker Mule is the easiest way to buy custom stickers. With prints starting at just $49 for 50 units, they aspire to be the Internet’s favorite sticker printing company.</p>
            </div>
        </div>
    </section>
{% endblock %}

{% block sponsors %}{% endblock %}