{% extends 'layout.html.twig' %}

{% block title %}Sponsors | {{ parent() }}{% endblock %}

{% block header %}{% endblock %}

{% block body %}
    <section class="l-section l-sponsors">
        <div class="container grid">
            <h2 class="h-section">Sponsors</h2>
            <div class="grid__item one-quarter palm-one-whole" id="rackspace">
                <div class="sponsor">
                    <div class="ribbon ribbon--gold">Gold</div>
                    <a href="http://developer.rackspace.com"><img src="/images/sponsors/rackspace.png" alt="Rackspace"></a>
                </div>
            </div><!--

        --><div class="grid__item three-quarters palm-one-whole">
                <p>Rackspace Hosting (NYSE: RAX) is the open cloud company, delivering open technologies and powering more than 197,000 customers worldwide. Rackspace provides its renowned Fanatical Support&reg; across a broad portfolio of IT products, including Public Cloud, Private Cloud, Hybrid Hosting and Dedicated Hosting. The company offers choice, flexibility and freedom from vendor lock-in. Rackspace has been recognized by Bloomberg BusinessWeek as a Top 100 Performing Technology Company and is featured on Fortune’s list of 100 Best Companies to Work For. Rackspace was positioned in the Leaders Quadrant by Gartner Inc. in the "2011 Magic Quadrant for Managed Hosting." Rackspace is headquartered in San Antonio with offices and data centers around the world. For more information for developers, visit <a href="http://developer.rackspace.com" target="_blank">http://developer.rackspace.com</a>.</p>
            </div><!--

         --><div class="grid__item one-whole divider">

            </div><!--

         --><div class="grid__item one-quarter palm-one-whole" id="ordermygear">
                <div class="sponsor">
                    <div class="ribbon ribbon--silver">Silver</div>
                    <a href="http://www.ordermygear.com/"><img src="/images/sponsors/ordermygear.png" alt="Order My Gear"></a>
                </div>
            </div><!--

        --><div class="grid__item three-quarters palm-one-whole">
                <p>OrderMyGear is a platform for managing group purchases of team sporting goods and decorated apparel. We are a small team based in Dallas and make heavy use of PHP/Symfony.</p>
            </div><!--

         --><div class="grid__item one-whole divider">

            </div><!--

         --><div class="grid__item one-quarter palm-one-whole" id="servergrove">
                <div class="sponsor">
                    <div class="ribbon ribbon--silver">Lanyard</div>
                    <a href="http://servergrove.com" target="_blank" rel="external"><img src="/images/sponsors/servergrove.png" alt="Server Grove"></a>
                </div>
            </div><!--

         --><div class="grid__item three-quarters palm-one-whole">
                <p></p>
            </div><!--

         --><div class="grid__item one-whole divider">

            </div><!--

         --><div class="grid__item one-quarter palm-one-whole" id="duosecurity">
                <div class="sponsor">
                    <div class="ribbon ribbon--bronze">Bronze</div>
                    <a href="https://www.duosecurity.com/" target="_blank" rel="external"><img src="/images/sponsors/duosecurity.png" alt="Duo Security"></a>
                </div>
            </div><!--

         --><div class="grid__item three-quarters palm-one-whole">
                <p>Duo Security's hosted two-factor authentication service brings strong, scalable security to organizations of any size. Duo's unique, high-availability architecture provides centralized management, self-service enrollment, and interactive secondary login through an intuitive web interface, eliminating the high costs, complexity, and confusion associated with traditional two-factor systems.</p>
            </div>
        </div>
    </section>
{% endblock %}

{% block sponsors %}{% endblock %}