body {
    background: $secondaryColor;
    font: 1em/1.4 "Open Sans", "Lucida Grande", arial, verdana;
    font-weight: 400;
}
a {
    color: $baseColor;
}
a:hover {
    color: lighten($baseColor, 10%);
}

.grid--narrow{
    margin-left:-4px;

    > .grid__item{
        padding-left:4px;
    }
}