/**
 * Base Button Object
 * @tags ^button
 * @format
 * <a href="#" class="btn">Register</a>
 * <button class="btn">Register</button>
 * <input type="submit" class="btn" value="Register">
 */
.btn {
    border: none;
    display: inline-block;
    margin: 0;
    padding: 0.5em;
    cursor: pointer;
    font: inherit;
    line-height: 1;
}
.btn,
.btn:hover {
    text-decoration: none;
}

/**
 * Button Sizes
 * @tags ^button
 * @extends btn
 */
.btn-xsmall { font-size: 0.8em; }
.btn-small { font-size: 1em; }
.btn-medium { font-size: 1.25em; }
.btn-large { font-size: 1.5em; }
.btn-xlarge { font-size: 1.75em; }
.btn--full { display: block; }

/**
 * Primary Button Style
 * @tags ^button
 * @extends btn
 */
.btn-primary {
    box-shadow: 3px 3px 0 rgba(0,0,0,0.25);
    margin: 1em 0;
    background: $baseColor;
    color: #fff;
    font-family: $fontButtonFamily;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.btn-primary:hover {
    background: lighten($baseColor, 5%);
    color: #fff;
}
.btn-primary:visited {
    color: #fff;
}

/**
 * Basic flat button
 * @tags ^button
 * @extends btn
 */
.btn-basic {
    border-radius: 0.25em;
    font-family: $fontButtonFamily;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn-basic:hover {
    color: #fff;
    text-decoration: underline;
}
.btn-basic:visited { color: #fff; }
.btn--dark {
    background: $baseColor;
    color: #fff;
}
.btn--light {
    background: #ebf0e7;
    color: $baseColor;
}