.l-header {
    @media screen and (min-width: 1165px) { background-size: 100% auto; }
    background: #fff url('../images/dallas-skyline.jpg') top center no-repeat;
    background-size: auto 100%;
    padding: 100px 0 20px;
    min-height: 600px;
    text-align: center;
}
.l-section {
    padding: 1rem 0;
}
.l-cta {
    background: $baseColor;
    color: #fff;
    font-size: 2rem;
    font-family: 'Open Sans', 'lucida grande', arial;
    font-weight: 300;
    text-align: center;
}
.l-speakers {
    background: $secondaryColor;
}
.l-sponsors {
    background: $secondaryColor;
}
.l-map {
    border: 3px solid #333;
    border-width: 3px 0;
    height: 400px;
    width: 100%;
}
.l-footer {
    background: transparent url('../images/texture-jeans-dark.png') repeat;
    color: #fff;
}
/**
 * Ribbon
 */
.nav-main {
    position: fixed;
    padding: 0.5rem 0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    background: rgba(255,255,255,0.9);
    width: 100%;
}
.nav-main > .nav {
    margin: 0;
}
.nav-main li {
    padding: 0.6rem 0.8rem;
}
.nav-main .nav a {
    color: $baseColor;
    padding: 6px;
    text-decoration: none;
    font-family: "Open Sans", "lucida grande", arial;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    &:hover,
    &.active {
        background: $baseColor;
        color: #fff;
    }
}

.btn {

}