.l-header {
    @media screen and (min-width: 1165px) { background-size: 100% auto; }
    background: #fff url('../images/dallas-skyline.jpg') top center no-repeat;
    background-size: auto 100%;
    padding: 100px 0 20px;
    min-height: 600px;
    text-align: center;
}
.l-section {
    padding: 1rem 0;
}
.l-cta {
    background: $baseColor;
    color: #fff;
    font-size: 2rem;
    font-family: 'Open Sans', 'lucida grande', arial;
    font-weight: 300;
    text-align: center;
}
.l-speakers {
    background: $secondaryColor;
}
.l-sponsors {
    background: $secondaryColor;
}
.l-map {
    border: 3px solid #333;
    border-width: 3px 0;
    height: 400px;
    width: 100%;
    @include media-query(palm) { height: 200px; }
}
.l-footer {
    background: transparent url('../images/texture-jeans-dark.png') repeat;
    color: #fff;
}
.nav--light > li > a {
    background: #ecebe7;
    color: #63625a;
    text-decoration: none;
    margin: 1px 0;
    padding: 0.5em 1em;
    font-size: 1em;
    &:hover { background: #d5d3cb; }
}
/**
 * Ribbon
 */
.nav-main {
    position: fixed;
    padding: 0.5rem 0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    background: rgba(255,255,255,0.9);
    width: 100%;
}
.nav-main > .nav {
    margin: 0;
}
.nav-main li {
    padding: 0.6rem 0.8rem;
    @include media-query(palm) {
        display: block;
        padding: 0 0.5rem;
    }
}
.nav-main .nav a {
    color: $baseColor;
    padding: 6px;
    text-decoration: none;
    font-family: "Open Sans", "lucida grande", arial;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    &:hover,
    &.active {
        background: $baseColor;
        color: #fff;
    }
    @include media-query(palm) {
        display: block;
    }
}
.nav-toggle {
    display: inline-block;
    @include media-query(lap-and-up) { display: none; }
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin: 0 0.5rem;
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.collapse {
    display: none;
    @include media-query(lap-and-up) { display: block; }
}

.icon-bar {
    background: #CCC;
    margin: 2px 0;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}